@font-face
{
font-family: PhotoPuddleRegular;
src: url('fonts/FontR.otf');
}


@font-face
{
font-family: ThinFont;
src: url('fonts/thinfont.ttf');
}

@font-face
{
font-family: Myfont1;
src: url('fonts/nlight.otf');
}

@font-face
{
font-family: Myfont2;
src: url('fonts/nbold.otf');
font-weight:bold;
}

@font-face
{
font-family: font1;
src: url('fonts/rodusr300.otf');
}

@font-face
{
font-family: font2;
src: url('fonts/rodusr100.otf');
}

html, body {
	font-family: Tahoma, Arial; 
	padding: 0px; 
	margin: 0px; 
	color: #000000;
	background:#ffffff;        /*       #393e42;*/
	font-size: 12px;
}

#logobkg{
	text-decoration: none;
	
	outline: none;
	
	width: 100%;
	height: 80px;
	position: fixed;
	background: white;
	top: 0; left: 0;
	z-index: 3;
	padding-left: 10px;
	margin-top: 0px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);       (51,153,204,.1)(115,191,45,.4)
}
#logobkg:hover{
	background-color: rgb(250,250,250);
}

#logobkg a {
	text-align: center;
	text-decoration: none;
	height: 80px;
	position: relative;
	display: block;
	margin: auto;
	outline: none;
}

#instr1 {
	height: 50px;
	width:auto;
	outline: 0;
	display: block;
	margin: 14px auto;
	outline: none;
}

.contact {
	padding-top: 16%;

}

.menu{background-color: #ffffff;
	  width: 100%;
	  border-bottom: 1px solid rgba(195,195,195,0.3);
	  box-shadow: 0 3px 40px rgba(255,255,255,0.3);
		}


.menu ul{
		 position: relative;
		 list-style: none;
		 width: 100%;
		 height: 40px;
		 margin: 0 auto;
		 font-family: Myfont1;
		 font-variant: small-caps;
		 margin-top: 10px;

}

.menu li{ 
	      position: relative;
	      border-left: 1px solid rgba(11,11,11,0.3);
		  float: left;
		  height: 40px;
		  width: 20%;
		  
	/*display: inline ;
	height: 60px;
	width: 19.5%;
	background-color: red;
	line-height: 25px;
 	font-family: Myfont1;
	-webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;*/
}

.menu li:last-child{
	border-right: 1px solid rgba(11,11,11,0.3);
}



.b1{
	background-color: #ffffff;
}

.menu li a {
			color: #b2b2b2;
			font-size: 18px;
			box-sizing: border-box;
			padding-top: 12px;
			text-align: center;
			text-decoration: none;
			font-variant: small-caps;
			position: absolute;
			height: 80%;
			width: 100%;

}

/*.menu li.active{ color:#73BF2D;  padding-left: 10px;}*/

.menu .b1:hover{
	
	
	
	font-family: Myfont1;
	color: #000000;
	/*background-color: #3399cc;
    border-left: 2px solid #73BF2D;
    padding-bottom: 0px;
    border-right: 2px solid #73BF2D;*/
    -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}
.menu li a:hover {color: #0b0b0b;
		-webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
}



.active {color: #000000; font-weight: bold;}
					

#footer{
	clear:both;
	height:250px;
	width:100%;
	bottom: 0;
}
#footer{
	margin-top: 50px;
	clear: both;
	width:100%;
	height:250px;
	background: rgba(11,11,11,1);
	box-shadow: 0 0px 6px rgba(0,0,0,0);
}

#copyright{
	font-family: myfont1;
	font-size: 15px;
	bottom: 10px;
	margin-top: 175px;
	margin-left: 42%;
	color: #9a9a9a;
}


/*a {
	color: #b69e40; outline: 0;
}

a:hover {
	text-decoration: none;
}

a:active, a:focus {
	color: #b69e40;
	border: none;
	text-decoration: none;
}

button:focus { border: none; outline:none; }

p {
	color: #aeb5ba;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 400;
}

h1	{	font-size: 1.5em;
	color: #ffffff;
	background: #343537;
	padding: 10px 8px;
	float: left;
	}
	
h2	{ font-size: 24px; color: #ffffff; }
h3 {  text-align: center; font-size: 16px; }
/*img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}*/

#logo {
  z-index: 3;   
    padding-top: 50px;     
    margin: 0;  
     position: fixed;
    background-color: white;
    width: 100%;
}
.clear	{ clear: both; }
.container-fluid{ margin:15px auto; }

/* Menu */
/*span.fa	{ width: 100%; text-align: center; }
.site-header .main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none; 
  float: right;
}

.site-header .main-navigation {
  display: block;
  text-align: center;
  padding: 0px 0px;
}
.site-header .main-navigation ul li {
  display: inline-block;
  margin-left: 1px;
}
.site-header .main-navigation ul li:last-child {
  margin-right: 0px !important;
}
.site-header .main-navigation ul li a {
  padding: 20px 20px;
  display: inline-block;
  color: white;
  font-size: 16px;
  background: #343536;
  text-transform: uppercase;
}
.site-header .main-navigation ul li a.active {
  color: #b69e40;
  text-decoration: none;
}
.site-header .templatemo_logo {
  margin-top: 60px;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
}

a.menu-toggle-btn {
  padding: 12px 0;
  display: block;
  color: white;
  font-size: 24px;
}

.responsive-menu {
  display: none;
  background: #343536;
}

.responsive_menu {
  display: none;
  background-color: #2a2a2a;
}
.responsive_menu ul li {
  display: block !important;
  margin: 0 !important;
  border-bottom: 1px solid #444444;
}
.responsive_menu ul li a {
  padding: 15px 0 !important;
  display: block !important;
}
*/
.templatemorow	{ margin: 0px 30px; }
.templatemo_servicerow	{ margin: 0px; }
.blok	{ position: absolute; }
.hex	{ width: 20%; float: left; }
.hex-offset	{ margin-left: 10%; }
.hexagon2, .hexagonteam {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}
.hexagonteam {
	position: absolute;
	width: 200px;
	height: 350px;
	top: -85px;
}
.hexagon {
	overflow: hidden;
	visibility: hidden;


	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	/*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in2:hover {
	
}


.hexagon-in3 {
	/*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.hexagon-in3:hover {
	webkit-box-shadow: inset 0 0 0 200px rgba(36,36,36, 0);
	box-shadow: inset 0 0 0 200px rgba(36,36,36, 0);
}


.s_top	{ margin-top: 8%; }
.templatemo_hexteam .gallery-item .templatemo_overlay1 a { top: 50%; left: 15%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay2 a { top: 50%; left: 37%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay3 a { top: 50%; left: 58%; background: none; border: none; }
.templatemo_hexteam .gallery-item .templatemo_overlay4 a { top: 50%; left: 80%; background: none; border: none; }

.smallhexagon {
	width: 40px;
	height: 46px;
	background: #b69e40;
	position: relative;
	background: url(../images/templatemo_teamhexa.png) no-repeat;
	margin-bottom: 10px;
}
.smallhexagon:before {
	position: absolute;
	left: 0;
	width: 0;
	height: 46px;

}
.smallhexagon:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 46px;
}
.smallhexagon .fa { font-size: 16px; color: #ffffff; line-height: 46px; }
.templatemo_overlaytxt	{ margin-top: 105%; text-align: center; width: 100%; }

.hexagon-a {
	margin-top: 63px;
	position: absolute;
	z-index: 300;
	margin-left: -65px;
}
.hexagon-a a {
  margin: 0 auto;
  width: 26%;
  display: block;
  position: relative;
  
}
.hexagon-a a.hlinktop:hover .hexa-a {
  background: #cfb652;
  color: #fff;
}

.hexagonservices {
	height: 160px;
	margin-top: 60px;
}
.hexagonservices a.hlinkbott {
  margin: 0 auto;
  display: block;
  min-width: 120px;
  position: relative;
}

.hexagonservices a.hlinkbott:hover .hexa {
  background: #b69e40;
}
.templatemo_servicetext	{ float: left; margin-top: 230px; }
.templatemo_hexservices	{ width: 20%; margin-top: -10%; }
.templatemo_hexservices p{ text-align: center; }

/* mid hexa */
.hexa-a {
  width: 100%;
  min-width: 110px;
  height: 0;
  padding-bottom: 57.7%;
  background: #393e42;
  position: absolute;
  color: #b69e40;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 42px;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0%;
}

.hexa-a:before, .hexa-a:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  padding: inherit;
  background: inherit;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 0;
  position: absolute;
  border-radius: inherit;
}

.hexa-a:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hcontainer-a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.vertical-align-a {
  display: table;
  height: 100%;
  width: 100%;
}

.texts-a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

/* main Hexa */ 
.hexa {
  width: 100%;
  min-width: 120px;
  height: 0;
  padding-bottom: 57.7%;
  margin: 0;
  background: #b69e40;
  position: absolute;
  color: #FFF;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0%;
}

.hexa:before, .hexa:after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  padding: inherit;
  background: inherit;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  z-index: 0;
  position: absolute;
  border-radius: inherit;
}

.hexa:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}


/* ---- Small Hexa ----*/
/*.hex_footer {
    width: 46px;
	height: 40px;
	position: relative;
    background: url(../images/templatemo_footerhexa.png) no-repeat;
}

 a:hover .hex_footer{ background: url(../images/templatemo_teamhexa_hover.png) no-repeat; }

.hex_footer span.fa{ color: #ffffff; font-size: 16px; line-height: 40px; }

/*------------------------------------------------------
	Gallery Styles 
--------------------------------------------------------*/
.gallery-item {
  background-color: white;
  -webkit-box-shadow: inset 0 0 1px #666;
  -moz-box-shadow: inset 0 0 1px #666;
  margin-bottom: 30px;
  /*position: relative;*/
  overflow: hidden;
}
.gallery-item .content-gallery {
  text-align: center;
}
.gallery-item .content-gallery h3 {
  color: #b10021;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
.gallery-item img {
  width: 100%;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  display: block;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
/*.gallery-item .overlay a {
  color: #2a2a2a;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  line-height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}*/
.gallery-item .overlay a {
	text-decoration: none;
  color: #2a2a2a;
  width: 32px;
  height: 32px;
  background-color: #3399cc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
.templatemo_gallerygap { margin-bottom: 12%; }
.templatemo_gallerygap img{ margin-top: 50px; }
.templatemo_gallerygap span.fa	{ font-size: 22px; margin-bottom: 15px; }
.templatemo_gallerytop	{ margin-top: 1%; }
/*.templatemo_loadmore	{ 
	margin: 0 60%;
	padding: 7px 0px; 
	background: #73bf2d; 
	margin-top: 15%; 
	text-align: center; 
	font-size: 16px; 
	width: 200px; 
	margin-bottom:10%;
	}*/

.gallery_more{  
	background: #73bf2d; 
	float: left;
	margin-left: 24%;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	}


.gallery_more2{
	background: #3399cc; 
	padding-top:5px;
	padding-bottom:5px;
	margin-left:43%	;
	font-size: 16px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.proceed{ 
	clear:both;
	border: none; 
	color: #ffffff; 
	font-variant: small-caps;
	letter-spacing: 1px;
	font-family: Myfont1;
	width: 20%;
	height: auto;
	font-size: 20px;
	margin-bottom: 10%;
	margin-top: 15%;
	outline: none;
	}	

.row{
	clear:both;
	width:100%;
}

.round-corners {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.round-corners:hover {
  cursor:pointer;
	box-shadow: 0 0 0.5px 2px #2A2A2A; 
  border-radius: 20px;
}

.templatemo_contacttitle	{ 
	font-size: 16px; 
	color: #ffffff; }	
.templatemo_contactmap	{ 
	width: 332px; 
	height: 388px; 
	margin: 0 auto; }


.templatemo_contactmap img{ 
	position: absolute;
	top: 0px;
	left: 29px;
	}
.templatemo_address	ul{ 
	float: left;
	width: 100%;
	padding: 0;
	margin-top: 20px;
	}
.templatemo_address	ul li{ list-style: none; display: inline; padding: 0px; float: left; }
.templatemo_address	ul li.left{
	float: left;
	width: 40px;
	color: #73BF2D;
	font-size: 22px;
}
.templatemo_address	ul li.rigth{
	float: left;
}

.templatemo_address	ul li.clear	{ height: 10px; width: 100%; }

.templatemo_form	{  width: 100%; }
.templatemo_form input{ 
	float: left; 
	height: 34px; 
	padding: 6px 12px; 
	border-radius: 0px; 
	background: #343536; 
	border: 1px solid #4b5257; 
	width: 100%;  
	margin-top: 10px;
	color: #cccccc;
	}
.templatemo_form textarea{
	float: left; 
	padding: 6px 12px; 
	height: 130px;
	border-radius: 0px; 
	background: #343536; 
	border: 1px solid #4b5257; 
	margin-top: 10px; 
	color: #cccccc;
}
.templatemo_form button.btn-primary{
	float: left; 
	width: 100%;
	line-height: 34px;
	text-align: center;
	color: #ffffff;
	border-radius: 0px;
	background: #3399cc;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}
.templatemo_contactmap	{ width: 332px; height: 388px; float: left; }
.templatemo_contactmap img { position: absolute; width: 332px; height: 388px; top: 0px; left: 15px; }
#templatemo_map {
    width: 100%;
    height: 388px;
}

.templatemo_footer { background: #343536; padding: 20px 0px; width: 100%; margin-top: 100px; }
.templatemo_footer .hex_footer	{ float: left; margin-right: 5px; height: 40px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 419px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0 5%; }
	.hexagon2 
	{
	position: absolute;
	width: 110px;
	height: 128px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 100px; margin-left: 25%; }
	.templatemo-hex-top3	{ margin-top: 100px; }
	.templatemo_gallerytop	{ margin-top: 32%; }
	.templatemo_loadmore	{ margin-top: 53%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 10%; float: left; }
	.templatemo_contactmap	{ width: 250px; height: 292px; float: left; }
	.templatemo_contactmap img{ position: absolute; width: 250px; height: 292px; top: 0px; left: 15px; }
	#templatemo_map {
    width: 100%;
    height: 292px;
	}
	.blok	{ left: 13%; }

	.proceed{ margin-top:45%};


}

@media (min-width : 420px) 
and (max-width : 559px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0; }
	.hexagon2 
	{
	position: absolute;
	width: 150px;
	height: 175px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 130px; margin-left: 25%; }
	.templatemo-hex-top3		{ margin-top: 130px; }
	.templatemo_gallerytop	{ margin-top: 32%; }
	.templatemo_loadmore	{ margin-top: 50%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 7%; float: left; }
	.blok	{ left: 22%; }

	.proceed{ margin-top:40%};
	
}

@media(min-width:560px) and (max-width:767px)	{
	.hex	{ width: 50%; float: left; }
	.templatemorow	{ margin: 0 10%; }
	.hexagon2 
	{
	position: absolute;
	width: 200px;
	height: 250px;
	top: 0px;
	}
	.templatemo-hex-top1	{ margin-top: 300px; }
	.templatemo-hex-top2	{ margin-top: 180px; margin-left: 25%; }
	.templatemo-hex-top3		{ margin-top: 180px; }
	.templatemo_gallerytop	{ margin-top: 33%; }
	.templatemo_loadmore	{ margin-top: 48%; }
	.templatemo_servicetxt	{ margin-top: 230px; }
	.templatemo_servicecol2	{ margin-top: 7%; float: left; }
	.blok	{ left: 33%; }

	.proceed{ margin-top:36%};

}
@media (max-width: 767px)	{
	.templatemo_footer .hex_footer	{ float: left; }
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{margin: -10% 30px 0px 30px; }
	.templatemo_hexservices	{ width: 100%; margin-top: 5%; float: left; }

}
@media(min-width:768px) and (max-width: 991px){ 
	.templatemorow	{ margin: 0 4%; }
	.hexagon2 
	{
	position: absolute;
	width: 120px;
	height: 180px;
	top: -85px;
	}
	.templatemo-hex-top1	{ margin-top: 110px; }
	.templatemo_servicecol2	{ margin-top: 15%; float: left; }
	.s_top	{ margin-top: 14%; }
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{ margin: -10% 30px 0px 30px; }
	.templatemo_hexservices	{ width: 100%; margin-top: 5%; }
	.blok	{ left: 33%; }

	}
@media(min-width:768px) and (max-width: 860px){ 
	.templatemo_gallerytop	{ margin-top: 15%; }
}
@media(min-width:861px) and (max-width: 991px){ 
	.templatemo_gallerytop	{ margin-top: 14%; }
}
@media(min-width:992px){
	.templatemorow	{ margin: 0 7%; }
	.hexagon2 
	{
	position: absolute;
	width: 150px;
	height: 250px;
	top: -85px;
	}
	.templatemo-hex-top1	{ margin-top: 140px; }

}
@media(min-width:992px) and (max-width: 1200px){
	.hexagon-a	{ margin-left: 5px; }
	.hexagon-a a	{ min-width: 140px; }
	.hexagonservices a.hlinkbott	{ width: 150px; }
	.templatemo_servicerow	{ margin: 0px 30px; }
	.templatemo_contactmap	{ width: 250px; height: 292px; float: left; }
	.templatemo_contactmap img{ position: absolute; width: 250px; height: 292px; top: 0px; left: 15px; }
	#templatemo_map {
   	 width: 100%;
    height: 292px;
	}
	}
@media(min-width:992px) and (max-width: 1390px){
	.templatemo_gallerytop	{ margin-top: 15%; }
	}
@media(min-width:1400px) and (max-width:1600px)	{
 	.templatemo_gallerytop	{ margin-top: 14%; }
 }
 
@media(min-width:1200px){
	.templatemorow	{ margin: 0px 30px; }
	.hexagon2 {
	position: absolute;
	width: 200px;
	height: 250px;
	top: -85px;
}
	.templatemo-hex-top1	{ margin-top: 180px; }
	.hexagon-a	{ left: 35%; }
	.hexagon-a a	{ min-width: 190px; }
	.hexagonservices a.hlinkbott	{ width: 200px; }
	.templatemo_servicerow	{ margin: 30px 30px; }
}

@media only screen and (max-width: 1000px) {
	.site-header .main-navigation ul {
 	 padding: 0;
 	 margin: 0;
  	list-style: none; 
  	float: none;
	}

  .site-header .main-navigation {
    padding: 0;
  }
  .site-header .main-navigation .container {
    width: 100%;
  }

  .responsive-menu {
    display: block;
  }

  .main_menu {
    display: none;
  }

  .services #icons .icon-item span,
  .about #icons-about .icon-item span {
    display: none;
  }
  }
  
 @media	(max-width: 991px) {
	.templatemo_footer div.col-sm-12{ float: left; margin-top: 10px; width: 100%; }
	
 }
.content { display: none; height: auto; }
.homepage	{ display: block; margin-top:140px;}
.leftalign	{ float: left; }
}


@media (max-width : 800px)	{
	.proceed{width:80%;}
	.gallery_more{float:none; margin:auto; position: relative;}
	.gallery_more2{float:none; margin:auto; position: relative;}
}








/**************************** CUSTOM MODAL **********************************/
.fullwhiteoverlay{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:11;
	background: #e0e0e0;
	opacity:0.8;
	-webkit-filter:blur(8px);
}

#photoModal2{
	z-index: 12;
	position: fixed;
	width:85%;
	height:85%;
	top:7.5%;
	left:7.5%;
	background: white;
	overflow-x:auto;
	overflow-y:hidden;
	box-shadow: 0 0 25px 4px #000;
	background: rgba(0,0,0,0);
	
	
}

#closeButton3{
	background: url('../images/close.png');
	height:30px;
	width:30px;
	position: fixed;
	top:20px;
	right:20px;
	opacity: 0.3;
	z-index: 13;	
	-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;
	background-size: contain;
}

#closeButton3:hover{
	cursor:pointer;
	opacity: 1.0;
	-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;
	width:40px;
	height:40px;
	top:15px;
	right:15px;
}

#leftButton3{
	background: url('../images/previous.png');
	height:30px;
	width:30px;
	position: fixed;
	top:49%;
	left:20px;
	opacity: 0.3;
	z-index: 13;	
	-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;
	background-size: contain;
}

#leftButton3:hover{
	cursor:pointer;
	opacity: 1.0;
	-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;
	width:40px;
	height:40px;
	top:48%;
	left:15px;
}

#rightButton3{
	background: url('../images/next.png');
	height:30px;
	width:30px;
	position: fixed;
	top:49%;
	right:20px;
	opacity: 0.3;
	z-index: 13;	
	-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-ms-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;
	background-size: contain;
}

#rightButton3:hover{
	cursor:pointer;
	opacity: 1.0;
	-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;transition: all 0.2s ease-in;
	width:40px;
	height:40px;
	top:48%;
	right:15px;
}


.modalImg,.modalImg2{
	width: 200%;
	height:100%;
	}

.modalImg{
	background: url('../images/1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 30% center;
}

.modalImg2{
	background: url('../images/gallery/2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 70% center;
}

#lefthalfpic,#righthalfpic{
	width: 50%;
	height:100%;
	position: absolute;
	background: rgba(220,220,220,1);
	overflow: hidden;
	-webkit-transition: all 0.7s ease-in-out;-moz-transition: all 0.7s ease-in-out;-ms-transition: all 0.7s ease-in-out;-o-transition: all 0.7s ease-in-out;transition: all 0.7s ease-in-out;

	}

#righthalfpic{
	right:0;
		
}

#lefthalfpic{
	border-right: 3.5px solid #333;
	left:0;
}

#lefthalfpic:hover,#righthalfpic:hover{
	z-index:7;
	width:100%;
	border-right: none;
}

.modalImg2:hover,.modalImg:hover{
	width: 100%;	
	-position: center center;
}

#lefthalfpic>div{
	-webkit-transition: all 0.7s ease-in;-moz-transition: all 0.7s ease-in;-ms-transition: all 0.7s ease-in;-o-transition: all 0.7s ease-in;transition: all 0.7s ease-in;
}

#righthalfpic>div{
	-ms-transform: translate(-50%,0); 
-webkit-transform: translate(-50%,0); 
transform: translate(-50%,0);
-webkit-transition: all 0.7s ease-in;-moz-transition: all 0.7s ease-in;-ms-transition: all 0.7s ease-in;-o-transition: all 0.7s ease-in;transition: all 0.7s ease-in;

}

#righthalfpic>div:hover{
	-ms-transform: translate(0%,0); 
-webkit-transform: translate(0%,0); 
transform: translate(0%,0);
}



/******************************************************/
.befdiv,.aftdiv {
	/*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
}

.befdiv{
	opacity:0;
}

.aftdiv{
	opacity:1;
}

.hexagon-in2:hover .befdiv{
	opacity:1;
}

.hexagon-in2:hover .aftdiv{
	opacity:0;
}


.hexagon-in3:hover .befdiv{
	opacity:1;
}

.hexagon-in3:hover .aftdiv{
	opacity:0;
}
